@tailwind base;
@tailwind components;
@tailwind utilities;

#root{
  margin: 0;
  padding: 0rem;
}

.nav {
  border: solid red;
  padding: 10px;
  margin: 10px;
}

.nav:hover {
  font-size: large;
}

.saf {
  color: #ff9933;
}

.saf2 {
  color: #f46230;
}
